################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ultility/Ultility/obj
/Ultility/.vs/Ultility/v15
